<div class="container col-12">
    <div class="col-md-12 row">
        <div class="col-md-12 align-items-center title">
           <p>Au Sénégal, vous avez</p>
        </div>
    </div>
    <div class="col-md-12 row graph">
        <div class="col-2"></div>
        <div class="col-md-8 row">
            <div class="col-3">
                <img src="../../assets/donut.png" style="width: 50%;" alt="">
                <h5>TBS 2018</h5>
            </div>
            <div class="col-3">
<!--                 <div id="donutchart" style="background-color: #0bcab1;"></div>
 -->                <img src="../../assets/donut.png" style="width: 50%;" alt="">
               <h5>Taux de réussite BAC 2018</h5>
            </div>
            <div class="col-3">
                <img src="../../assets/donut.png" style="width: 50%;" alt="">
                <h5>Taux de chômage niveau BAC</h5>
            </div>
            <div class="col-3">
                <img src="../../assets/donut.png" style="width: 50%;" alt="">
                <h5>Taux d'alphabétisation</h5>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 detail">
    <div class="col-md-12 row item">
        <div class="col-4">
            <h4>Investissement de l'Etat</h4>
            <p>1 000 000 000</p>
        </div>
        <div class="col-4">
            <h4>Coût moyen de formation</h4>
            <p>650 000</p>

        </div>
        <div class="col-4">
            <h4>Evaluation des dépenses</h4>
            <p>25 000 000 000</p>
        </div>
    </div>
</div> 
<!-- <div class="container">
	<div class="sliders">
		<ng-container *ngFor="let img of img_list; let i = index">
			<div class="slider" *ngIf="current == i" @fade>
				<img class="img" [src]="img">
			</div>
		</ng-container>
	</div>
</div> -->