
<nav ngxNavbarDynamicExpand class="navbar-light bg-light">
    <a class="navbar-brand" href="#">MarketIntel</a>
  
    <button
      class="navbar-toggler"
      type="button"
      (click)="collapse.toggle()"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Navigáció kapcsoló"
    >
    <span
        class="navbar-toggler-icon d-flex align-items-center justify-content-center"
    >
    </span>
    </button>
    <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href=""
                >Home <span class="sr-only">(current)</span></a
            >
            </li>
            <li class="nav-item">
                <a class="nav-link" href="universite">Education</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="immobilier">Immobilier</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="restaurant">Restaurants</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="sante">Santé</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="voiture">Voitures</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="offre">Offre d'emploi</a>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <div>            
            <button type="button" class="btn btn-info"><a style="color: aliceblue;" href="https://marketinteltest.herokuapp.com/">Inscription/Connexion</a></button>
        </div>
    </ngx-navbar-collapse>
</nav>