

<div class="col-12 row">
    <div class="ui segments, col-3" >
        <div class="ui segment header">
            <p>Education</p>
        </div>
        <!-- <div class="ui segment">
            <a href="ecole">Ecoles</a>
        </div> -->
        <div class="ui segment">
            <a href="universite"> Universités Privées</a>
        </div>
        <div class="ui segment">
            <a href="univPublique">Universités Publics</a>
        </div>
        <div class="ui segment">
            <a href="statistique">Statistiques et  investissement</a>
        </div>
        <div class="ui segment">
            <a href=" ">Retour accueil</a>
        </div>
    </div> 
    <div class="col-9"> 
        <div >
            <h2>Liste des écoles supérieurs publiques sénégalaises</h2> 
         </div>
         <div class="container">
            <div class="row">
                <div class="search-universite">
                    Rechercher<input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Nom">
                  </div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th style="background-color: #0bcab1;text-align: center;">Noms</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let universite of universite | filter:searchText">
                  <td style="text-align: center;">{{universite.nom}}</td>
                </tr>
                </tbody>
              </table>
            </div>
        </div>
        
        
        
    </div>

</div>
