 <div class="ui segments">
    <div class="ui segment header">
        <p>Education</p>
    </div>
    <div class="ui segment">
        <a href="ecole">Ecoles</a>
    </div>
    <div class="ui segment">
        <a href="universite"> Universités</a>
    </div>
    <div class="ui segment">
        <a href="graphic">Examens</a>
    </div>
   
    
</div> 


<!-- <div class="row">
    <div class="col-sm-3">
    <div class="card">
        <a href="sidebar" class="btn btn-primary">Go somewhere</a>

        <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    </div>
    <div class="col-sm-3">
    <div class="card">
        <a href="#" class="btn btn-primary">Go somewhere</a>

        <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <a href="#" class="btn btn-primary">Go somewhere</a>

            <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <a href="#" class="btn btn-primary">Go somewhere</a>

            <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
</div> -->