<div class="col-md-12 row">
    <div class="ui segments, col-md-3" >
        <div class="ui segment header">
            <p>Restaurant </p>
        </div>
        <div class="ui segment">
            <a href="restaurant"> Liste Restaurants par pays</a>
        </div>
        <div class="ui segment">
            <a href="restaurantRegion"> Liste Restaurants par région</a>
        </div>
       
        <div class="ui segment">
            <a href=" ">Retour accueil</a>
        </div>
    </div> 
    <div class="col-md-9"> 
        <div class="row">
            <div class="col-sm-4">
              <div class="card" style="width: 18rem; height: 18rem;">
                <img src="../../assets/senegal.jpg" class="card-img-top" style="width: 20%;" alt="">
                <div class="card-body">
                    <h5>Sénégal</h5>
                  <p class="card-text">Le Sénégal, pays de la térangua situé à l'Ouest de l'afrique, propose une large gamme de restaurants accueillants. Allons y pour du "thiebou jeunn".</p>
                  <a href="senegal" class="btn btn-primary">Voir les restaurants</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4" >
                <div class="card" style="width: 18rem; height: 18rem;">
                  <img src="../../assets/cote.png" class="card-img-top" style="width: 20%;" alt="">
                  <div class="card-body">
                    <h5>Cote d'Ivoire</h5>
                    <p class="card-text">La Côte d'Ivoire est un pays d'Afrique de l'Ouest doté de stations balnéaires, de forêts tropicales et d'un patrimoine colonial français. </p>
                    <a href="cote" class="btn btn-primary">Voir les restaurants</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem; height: 18rem;">
                  <img src="../../assets/benin.jpg" class="card-img-top" style="width: 20%;" alt="">
                  <div class="card-body">
                    <h5>Bénin</h5>
                    <p class="card-text"></p>
                    <a href="benin" class="btn btn-primary">Voir les restaurants</a>
                  </div>
                </div>
              </div>
        </div>
        <div>
            
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="card" style="width: 18rem; height: 18rem;">
              <img src="../../assets/afrique du sud.png" class="card-img-top" style="width: 20%;" alt="">
              <div class="card-body">
                  <h5>Afrique du Sud</h5>
                <p class="card-text"></p>
                <a href="afriquedusud" class="btn btn-primary">Voir les restaurants</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="width: 18rem; height: 18rem;">
              <img src="../../assets/togo.jpg" class="card-img-top" style="width: 10%;" alt="">
              <div class="card-body">
                  <h5>Togo</h5>
                <p class="card-text"></p>
                <a href="togo" class="btn btn-primary">Voir les restaurants</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
              <div class="card" style="width: 18rem; height: 18rem;">
                <img src="../../assets/guinee.jpg" class="card-img-top" style="width: 20%;" alt="">
                <div class="card-body">
                  <h5>Guine</h5>
                  <p class="card-text">W</p>
                  <a href="guinee" class="btn btn-primary">Voir les restaurants</a>
                </div>
              </div>
            </div>
      </div>

     </div>
</div>