

<div class="col-12 row">
    <div class="ui segments, col-3" >
        <div class="ui segment header">
            <p>Education</p>
        </div>
        <div class="ui segment">
            <a href="ecole">Ecoles</a>
        </div>
        <div class="ui segment">
            <a href="universite"> Universités</a>
        </div>
        <div class="ui segment">
            <a href="graphic">Examens</a>
        </div>
        <div class="ui segment">
            <a href=" ">Retour accueil</a>
        </div>
    </div> 
    <div class="col-9"> 
        <div >
            <h2>Liste de quelques universités sénégalaise</h2> 
         </div>
         <table class="ui celled table">
            <thead class="full-width">
                <tr>
                    <th style="background-color: #0bcab1;text-align: center;">Noms</th>
                    <th style="background-color: #0bcab1;text-align: center;">Types</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let universite of universite; ">
                    <td style="text-align: center;">{{universite.nom}}</td>
                    <td style="text-align: center;">{{universite.type_univ}}</td>
                </tr>
            </tbody>
        </table> 
        
        
        
    </div>

</div>