

<div class="col-12 row">
    <div class="ui segments, col-3" >
        <div class="ui segment header">
            <p>Education</p>
        </div>
        <!-- <div class="ui segment">
            <a href="ecole">Ecoles</a>
        </div> -->
        <div class="ui segment">
            <a href="universite"> Universités Privées</a>
        </div>
        <div class="ui segment">
            <a href="univPublique">Universités Publics</a>
        </div>
        <div class="ui segment">
            <a href="statistique">Statistiques et  investissement</a>
        </div>  
        <div class="ui segment">
            <a href=" ">Retour accueil</a>
        </div>
    </div> 
    <div class="col-9"> 
       <!--  <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" >
        </mat-form-field> -->
        <div >
            <h2>Liste des écoles supérieurs privées sénégalaises</h2> 
         </div>
         <!-- <table class="ui celled table">
            <thead class="full-width">
                <tr>
                    <th style="background-color: #0bcab1;text-align: center;">Noms</th>
                    <th style="background-color: #0bcab1;text-align: center;">Adresse</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let universite of universite; ">
                    <td style="text-align: center;">{{universite.nom}}</td>
                    <td style="text-align: center;">{{universite.adresse}}</td>
                </tr>
            </tbody>
        </table>  -->
        <div class="container">
            <div class="row">
                <div class="search-universite">
                    Rechercher<input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Nom">
                  </div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th style="background-color: #0bcab1;text-align: center;">Noms</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let universite of universite | filter:searchText | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <td style="text-align: center;">{{universite.nom}}</td>
                </tr>
                </tbody>
              </table>
              <ngb-pagination [collectionSize]="universite.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

            </div>
        </div>
        
        
        
    </div>

</div>