<div class="col-md-12 row">
    <div class="ui segments, col-md-3" >
        <div class="ui segment header">
            <p>Voiture</p>
        </div>
      
        <div class="ui segment">
            <a href="voiture"> Liste des voitures </a>
        </div>
        <div class="ui segment">
            <a href="statvoiture">Statistiques</a>
        </div>
        
        <div class="ui segment">
            <a href=" ">Retour accueil</a>
        </div>
    </div> 
    <div class="col-md-9"> 
      <div >
        <h2>Liste des voitures</h2> 
      </div>
      <div class="container">
        <div class="row">
            <div class="search-voiture">
                Rechercher<input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="modele ou constructeur">
              </div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th style="background-color: #0bcab1;text-align: center;">Modele</th>
                  <th style="background-color: #0bcab1;text-align: center;">Constructeur</th>
                  <th style="background-color: #0bcab1;text-align: center;">Année</th>
                  <th style="background-color: #0bcab1;text-align: center;">Prix</th>
                </tr>
                </thead>
                <tbody>
                  <!--le filtre et la pagination-->
                <tr *ngFor="let voiture of voiture | filter:searchText | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                  <td style="text-align: center;">{{voiture.modele}}</td>
                  <td style="text-align: center;">{{voiture.constructeur}}</td>
                  <td style="text-align: center;">{{voiture.annee}}</td>
                  <td style="text-align: center;">{{voiture.prix}}</td>
                </tr>
                </tbody>
              </table>
              <!--Faire la pagination sur l'affichage des données-->
              <ngb-pagination [collectionSize]="voiture.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

            </div>
          </div>
    </div>
</div>   

 
