<div class="col-12 row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div> 
            <h1> MarketIntel, qu'est ce que c'est?</h1>
        
            <p>MarketIntel est une application vous donnant la possibilité de trouver des données dans plusières domaines. Vous aurez à votre disponibilité des statistiques, et allez vite sur vos recherches avec les filtres faites sur les données.  </p>
             <p>Allant de l'education, la santé, les offres d'emploi et immobilières..., dans marketintel il vous suffit d'un clique pour être satisfaite.</p>  
            <p>Si vous souhaitez avoir à votre disposition les données que propose marketintel pour de plus amples utilisations, inscrivez vous et accéder à notre dashobord(en haut de page) </p>
        </div>
        <div>
            <button type="button" class="btn btn-primary" ><a style="color: aliceblue;" href="immobilier">Immobilier</a></button>
            <button type="button" class="btn btn-secondary"><a style="color: aliceblue;" href="restaurant">Restaurants</a></button>
            <button type="button" class="btn btn-success" ><a style="color: aliceblue;" href="universite">Education</a></button>
            <button type="button" class="btn btn-danger"><a style="color: aliceblue;" href="voiture">Voitures</a></button>
            <button type="button" class="btn btn-warning"><a style="color: aliceblue;" href="offre">Offre d'emploi</a></button>
            <button type="button" class="btn btn-info"><a style="color: aliceblue;" href="sante">Santé</a></button>        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>


