<div class="col-12 row">
    <div class="col-2"></div>
    <div class="col-8">
        <div> 
            <h1> Lorem ipsum </h1>
        
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, numquam? Ullam consequuntur suscipit sunt deleniti ad dignissimos maiores autem numquam eius labore nisi modi eveniet quae, tempora doloribus, magni voluptas?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quibusdam laboriosam vero inventore aspernatur, velit aliquam, ipsa accusantium atque neque porro ab adipisci minima architecto delectus sed, doloribus fugit dignissimos?Repellendus sed
                    exercitationem quis assumenda adipisci magnam quidem possimus consectetur pariatur magni, saepe illo provident numquam vero iusto sunt, obcaecati qui! Quae, quibusdam magni. Unde voluptatem totam at laborum libero.</p>
            
        </div>
        <div>
            <button type="button" class="btn btn-primary" ><a style="color: aliceblue;" href="immobilier">Immobilier</a></button>
            <button type="button" class="btn btn-secondary"><a style="color: aliceblue;" href="restaurant">Restaurants</a></button>
            <button type="button" class="btn btn-success" ><a style="color: aliceblue;" href="universite">Education</a></button>
            <button type="button" class="btn btn-danger"><a style="color: aliceblue;" href="voiture">Voitures</a></button>
            <button type="button" class="btn btn-warning"><a style="color: aliceblue;" href="offre">Offre d'emploi</a></button>
            <button type="button" class="btn btn-info"><a style="color: aliceblue;" href="sante">Santé</a></button>
        </div>
    </div>
    <div class="col-2"></div>

</div>


